
.my-tabs{
	margin: -20px -0px 25px;
}

.main-container{
	padding-left: 0px;
	padding-right: 0px;
}

.option-group{
	margin-bottom: 10px;
}

.pre-top > a {
	font-size: 26px;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}

.pre-top-active > a {
	color: #FD0 !important;
}