{% extends base_template %}

{% block content %}
	<div>
		<h4>Usage</h4>
		<dl>
		  <dt>Import/Export</dt>
		  <dd>Data may be loaded into the system and exported from it using xlsx. The simplest way to upload data is to download the excel file export and use it as a base for creating a file to upload.</dd>
		  <dt>Setup</dt>
		  <dd>To setup Sales Estimates information, click Process and add extra information under the "Setup" tab. The models should be self explanitory, faster editting/adding data may be possible by using teh "Mass Edit" button under each model.</dd>
		  <dt>Generating Results</dt>
		  <dd>Once All information has been endered under the "Setup" tab, you can swap to the generate tab to calculate Sales Estimates.</dd>
		  <dt>Results</dt>
		  <dd>Results may be viewed under the Results tab or downloaded through the export button.</dd>
		</dl>
	</div>
{% endblock %}